<?xml version="1.0" encoding="utf-8" ?>

<!--Rename this file to "App.config" and edit the connectionString.-->

<configuration>
	<connectionStrings>
		<add name="DmailApp" connectionString="Server=ADDRESS;Port=PORT;Database=DATABASE_NAME;User Id=USERNAME;Password=PASSWORD;"/>
	</connectionStrings>
</configuration>